.d1 {
    background-color: khaki;
}

.d2 {
    background-color: beige;
}

.d3 {
    background-color: firebrick;
}

.d4 {
    background-color: saddlebrown;
}

.d5 {
    background-color: salmon;
}

.container {
    display: grid;
    font-size: 40px;
    height: 100%;
    background-color: lightgray;
}