.d1 {
    background-color: khaki;
}

.d2 {
    background-color: beige;
}

.d3 {
    background-color: firebrick;
}

.d4 {
    background-color: saddlebrown;
}

.d5 {
    background-color: salmon;
    grid-column: 2 / 4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 40px;
    height: 500px;
    background-color: lightgray;
}